@font-face {
    font-family: "Kingsley";
    src: url("../fonts/KINGSLAY.eot");
    src: local("☺"), url("../fonts/KINGSLAY.woff") format("woff"),
        url("../fonts/KINGSLAY.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}