html,
body {
	height: 100%;
	background: #060606;
	font-family: "Goldman", sans-serif;
	// font-family: "Ubuntu", sans-serif;
	// font-family: "Inter", sans-serif;
	// font-family: "Montserrat", sans-serif;
	// font-family: "Metal", serif;


}

.big-wrapper {
	overflow: hidden;
	position: relative;

	&::before {
		content: '';
		width: 100%;
		height: calc(100% + 900px);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		background: linear-gradient(-178.094deg, #050014 0%, #281404 12%, #281404 17%, #050014 22%, #050014 39%, #281404 46%, #281404 54%, #050014 65%, #281404 86%, #050014 97%), linear-gradient(-178.094deg, #050014 0%, #281404 12%, #281404 17%, #050014 22%, #050014 60%, #281404 65%, #050014 76%, #281404 100%), linear-gradient(#060606, #060606);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1355px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	display: block;
	@include adaptiv-value("width", 124, 102, 1);
	@include adaptiv-value("height", 42, 32, 1);

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-weight: 700;
	width: 100%;
	z-index: 1;
	text-transform: uppercase;
	@include adaptiv-value("font-size", 24, 20, 1);
	@include adaptiv-value("line-height", 29, 20, 1);
	@include adaptiv-value("letter-spacing", 4.8, 4, 1);
	@include adaptiv-value("width", 492, 335, 1);
	@include adaptiv-value("height", 55, 38, 1);

	svg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: -50%;
		left: -50%;
		transform: translateX(50%) translateY(50%);
		transition: transform 0.3s, filter 0.3s;
	}

	span {
		position: relative;
		z-index: 1;
	}

	&:hover {
		svg {
			transform: translateX(50%) translateY(50%) scale(1.05);
			filter: brightness(0.9);
		}
	}
}

.title {
	color: #fff;
	text-transform: uppercase;
	@include adaptiv-value("margin-bottom", 50, 20, 1);
	@include adaptiv-value("font-size", 65, 24, 1);
	@include adaptiv-value("line-height", 79, 28, 1);
}

.text {
	@include adaptiv-value("font-size", 20, 14, 1);
	@include adaptiv-value("line-height", 37, 22, 1);
	color: #fff;
	text-transform: uppercase;
}

@keyframes phoneAnimation {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2.5%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes beamAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


// ol {
//     counter-reset: item; /* Сбрасываем счетчик на 1 перед каждым упорядоченным списком */
// }

// li {
//     display: block; /* Устанавливаем блочный тип элемента списка */
// }

// li:before {
//     content: counter(item); /* Вставляем текущее значение счетчика */
//     counter-increment: item; /* Увеличиваем счетчик на 1 */
//     margin-right: 0.5em; /* Добавляем небольшое расстояние между счетчиком и текстом */
// }