@media (max-width: 1400px) {
    .heading__animation {
        right: -275px;
        @include adaptiv-value("right", -275, -400, 1);
        transform: unset;
        left: unset;
    }
}

@media (max-width: 992px) {
    .heading__animation {
        display: none;
    }
    .heading__inner {
        flex-direction: column;
    }

    .heading-view {
        order: -1;
    }

    .heading-view__img {
        filter: drop-shadow(0px 0px 50px #F6780F) /* Оранжевая тень */
        drop-shadow(0px 0px 75px rgba(#fff, 0.5)); /* Белая тень со смещением */
    }

    .heading-body {
        max-width: 750px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .table__inner {
        max-width: 750px;
    }

    .app__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about__wrapper:nth-child(1) {
        flex-direction: column;
    }

    .about-item {
        margin-left: auto;
        margin-right: auto;
        max-width: 750px !important;
    }

    .service-body {
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
    }

    .about__wrapper:nth-child(1) .about-item:nth-child(2) .about-head {
        left: -55px;
        right: unset;
    }
}

@media (max-width: 768px) {
    .about-item {
        margin-left: 35px;
    }

    .about__wrapper:nth-child(2) .about-item {
        margin-left: 35px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 50px;
    }

    .footer__link {
        order: -1;
    }
}

@media (max-width: 550px) {
    .heading-body {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .heading-body__text {
        br {
            display: none;
        }
    }

    .table-body__text {
        text-transform: unset;
    }

    .table-body {
        &::before {
            height: 60px;
        }
    }

    .referrals-bg__img {
        &:nth-child(1) {
            display: none;
        }

        &:nth-child(2) {
            display: block;
        }
    }

    .about-item__text {
        text-transform: unset;
    }

    .contact-bg {
        display: none;
    }
}